/*Corps*/
body{
    width: 75%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    background-color: azure;
}
.site {
    display: flex;
    min-height: 100%;
    flex-direction:column;
}

.contenu {
    flex: 1;
}
/*Corps*/

/*En-tête ET Menu*/
header {
    margin-bottom: 20px;
}

header h1 {
    padding-left: 1%;
    text-align: center;
}
header h2, h3, h4 {
    padding-left: 3%;
    text-align: center;
}

header nav {
   height: 45px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(242, 232, 232)
}

nav {
    padding-left: 1%;
    text-align: center;
    font-size: smaller;
}

.menu {
   list-style-type: none; 
   display: inline-block;
}

.menu li {
    float: left;
    color: white;
    width: 140px;
    height: 30px;
    line-height: 30px;
    background: rgba(12, 53, 238, 0.7);
    cursor: pointer;
    font-size: 16px;
}

.menu li:hover {
    background: black;
}

/*En-tête ET Menu*/

/*FAQ*/
section article div {
    margin: center;
}

div details {
    margin-left: 17pc;
    width: 800px;
}

.contenu h4 {
    padding-bottom: 5px;
    color:  rgb(0, 0, 0);
    text-align: center;
}
details {
    background-color: rgba(107, 130, 230, 0.7);;
    color:black;
    font-size: 1 rem;
}
  
summary {
    padding: .5em 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
}
  
summary:after {
    content: "\002B";
}

  
details[open] summary:after {
    content: "\00D7";
}
  
details[open] div {
    padding: 1em 1.5em;
}

/* Pied de page */
html, body {
    height: 100%
}

footer {
    background: azure;
    margin-left: 1%;
    width: 100%;
    padding:8px 0;
    text-align: center;
}

footer ul{
    margin: auto;
}

footer li {
    display:inline-block;
    list-style-type: none;
    line-height: 7px;
    margin-right: 22px;
    padding: 4px;
}

footer li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#forme {
    width: 100px;
    height: 40px;
}

